/*#dateReturn{*/
    /*!*transform-style: preserve-3d;*!*/
    /*font-size: 25px;*/
    /*!*width: 750px;*!*/
    /*!*height: 50px;*!*/
/*}*/
h1 {
    font-size: 65px;
    text-align: center;
    padding: 50px;
    color: darkslateblue;
}

h2 {
    font-size: 35px;
    text-align: center;
    padding: 5px;
    color: darkslateblue;
    border-color: black;
}

h3 {
    font-size: 25px;
    text-align: center;
    color: firebrick;
}

h6 {
    /*padding-top: 5px;*/
    font-size: 25px;
    text-align: right;
    color: darkslateblue;
}

form {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: dimgray;
}

input {
    width: 300px;
    height: 30px;
    background-color: dimgray;
    color: white;
    font-size: 20px;
    border-radius: 5px;
}

input:hover {
    width: 300px;
    height: 30px;
    background-color: darkslateblue;
    color: white;
    font-size: 20px;
    border-radius: 5px;
}

label {
    font-size: 30px;
}

.button {
    horiz-align: center;
    border-radius: 5px;
    width: 303px;
    height: 35px;
    font-size: 25px;
    color: white;
    background-color: dimgray;
}

.button:hover {
    border-radius: 5px;
    width: 303px;
    height: 35px;
    font-size: 25px;
    color: white;
    background-color: darkslateblue;
}

table {
    width: 1000px;
    border-collapse: collapse;
    border: 2px solid darkslateblue;
    margin: auto;
    padding: 100px;
}

th {
    border-collapse: collapse;
    border: 3px solid darkslateblue;
    width: auto;
    font-size: 20px;

}

td {
    border-collapse: collapse;
    border: 3px solid darkslateblue;
    font-size: 18px;
}

.area {
    background-color: dimgray;
    color: white;
    font-size: 18px;
    border-radius: 5px;
}

.area:hover {
    background-color: darkslateblue;
    color: white;
    font-size: 18px;
    border-radius: 5px;
}

sup {
    color: firebrick;
}

.backButton {
    border-radius: 5px;
    width: 120px;
    height: 35px;
    font-size: 25px;
    color: white;
    background-color: dimgray;
    float: left;
    margin-right: auto;
}

.backButton:hover {
    border-radius: 5px;
    width: 120px;
    height: 35px;
    font-size: 25px;
    color: white;
    background-color: darkslateblue;
    float: left;
    margin-right: auto;
}

.logOutButton {
    border-radius: 5px;
    width: 120px;
    height: 35px;
    font-size: 25px;
    color: white;
    background-color: dimgray;
    margin-left: auto;
}

.logOutButton:hover {
    border-radius: 5px;
    width: 120px;
    height: 35px;
    font-size: 25px;
    color: white;
    background-color: darkslateblue;
    margin-left: auto;
}

hr {
    margin-bottom: 25px;
    padding: 1px;
    width: 300px;
    color: dimgray;
    background-color: dimgray;
    border-radius: 5px;
}
#hrMax {
    margin-bottom: 25px;
    padding: 1px;
    width: 1600px;
    color: dimgray;
    background-color: dimgray;
    border-radius: 5px;
}

.editButton {
    border-radius: 5px;
    width: 120px;
    height: 25px;
    font-size: 15px;
    color: white;
    background-color: darkslateblue;
}

div {
    /*align-self: center;*/
    /*text-align: center;*/
    /*align-content: center;*/
    horiz-align: center;
    /*align-items: center;*/
}
/*#dateReturn{*/
    /*!*transform-style: preserve-3d;*!*/
    /*font-size: 25px;*/
    /*!*width: 750px;*!*/
    /*!*height: 50px;*!*/
/*}*/

/*#issueTable{*/
/*!*width: 1000px;*!*/
/*!*border-collapse: collapse;*!*/
/*!*border: 2px solid darkslateblue;*!*/
/*!*margin:auto;*!*/
/*!*padding: 100px;*!*/
/*font-size: 25px;*/
/*}*/
